* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    transition: background-color 0.6s ease;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    padding: 50px 40px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    width: 90%;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.447);
}

#color-container {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
}

.color-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-bottom: 35px;
    justify-items: center;
}

.color-box {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.7);

}

.color-box:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.color-box.active {
    outline: 4px solid white;
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}



/* Individual Color Gradients */

.red {
    background: linear-gradient(135deg, #FF6B6B, #FF8E8E);
}

.green {
    background: linear-gradient(135deg, #6BCB77, #9DF3C4);
}

.blue {
    background: linear-gradient(135deg, #4D96FF, #83C5FF);
}

.pink {
    background: linear-gradient(135deg, #FF4DA6, #FF99CC);
}

.purple {
    background: linear-gradient(135deg, #845EC2, #B39CD0);
}

.orange {
    background: linear-gradient(135deg, #FF9671, #ffc558);
}